body
{
	background-color: #2D7876;
	color: white;
}

.cabecalho
{
	background-color: #D35500;
}
/*ALTERA A FONTE PARA BRANCO E OS BACKGROUNDS NO :HOVER DAS OPÇÕES DO MENU (DROPDOWN)*/
.nav>li>a:hover
{
	background-color: #9C6127;
}
.nav>li>a:focus
{
	background-color: #9C6127;
}
.nav>li>a
{
	color: white;
}
.meu-dropdown
{
	background-color: #D35500;
}
.meu-dropdown>li>a:hover
{
	background-color: #646C4F;
}
.meu-dropdown>li>a
{
	color: white;
}
.nav .open>a:focus, .nav .open>a:hover
{
	background-color: #9C6127;
}
/*NAVBAR-BRAND ALTERA A COR DA LOGO PARA BRANCO*/
.navbar-brand
{
	color: white;
	margin: 0;/*PARA TERMOS 100% DO ESPAÇO PARA A IMAGEM DE LOGO*/
	padding: 0;/*PARA TERMOS 100% DO ESPAÇO PARA A IMAGEM DE LOGO*/
}
.navbar-brand:hover
{
	color: white;
}
.navbar-brand:visited
{
	color: white;
}
/*O BG DO MENU ESTAVA FICANDO BRANCO QUANDO PERDIA O FOCO*/
.nav .open>a
{
	background-color: #D35500;
}

.img-logo
{
	margin: 0;/*PARA TERMOS 100% DO ESPAÇO PARA A IMAGEM DE LOGO*/
}